body{
    background: black;
    color:white;
    margin: 0;
    padding: 0;
  
}
#divA{
    background-color: red;
    width:300;
    text-align: center;
    

}


































































